  @import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Poppins&family=Roboto&display=swap');

.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #CCDDE0;
}


/* 
font-family: 'M PLUS Rounded 1c', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; 
*/


h2 {
  text-align: center;
}